body {
    font-family: 'SF Pro Display', sans-serif !important;
}

nav a {
    color: white !important;
    font-size: .875rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}


#myCarousel .carousel-inner .carousel-item div {
    margin-right: 20px;
}

@media (max-width: 992px) {
    #myCarousel .carousel-inner .carousel-item > div {
        display: none;
    }

        #myCarousel .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
}

#myCarousel .carousel-inner .carousel-item.active,
#myCarousel .carousel-inner .carousel-item-next,
#myCarousel .carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: center;
}

@media (min-width: 992px) {
    #myCarousel .carousel-inner .carousel-item-right.active,
    #myCarousel .carousel-inner .carousel-item-next {
        transform: translateX(16.6%);
    }

    #myCarousel .carousel-inner .carousel-item-left.active,
    #myCarousel .carousel-inner .carousel-item-prev {
        transform: translateX(-16.6%);
        margin-right: 20px;
    }
}

#myCarousel .carousel-inner .carousel-item-right,
#myCarousel .carousel-inner .carousel-item-left {
    transform: translateX(0);
}

